  <div class="card" style="width: 50%; left:25%; margin-top: 10%;">
    <div class="card-body">
      <form (ngSubmit)="onSubmitLogin()" #loginLoginForm="ngForm">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="username">
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
        </div>
        <button type="submit" class="btn btn-dark" style="margin-top: 20px;">Login</button>
      </form>
    </div>
  </div>

