/* You can add global styles to this file, and also import other style files */
html,body, main{
    height: 100%;
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-position: center;
}

html,body, main{
    background-color: black!important;
}