

<div class="card" style="width: 60%; margin-left: 20%;">
  <div class="card-body">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmitTaskForm()" #loginLoginForm="ngForm">
          <div class="form-group">
            <label>TaskName</label>
            <input type="text" class="form-control" placeholder="TaskName" name="taskName" [(ngModel)]="taskName">
          </div>
          <div class="form-group" style="margin-top: 20px;">
            <label>EstimatedTimeInSeconds</label>
            <input type="number" class="form-control" [defaultValue]="5" name="taskProcessTimeInSeconds" [(ngModel)]="taskProcessTimeInSeconds">
          </div>
          <button type="submit" class="btn btn-dark" style="margin-top: 20px;">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div>
  <button type="button" class="btn btn-link" (click)="clearHistory()">Clear History</button>
</div>


<div class="container" style="text-align: center;">
  <div class="row">
    <div class="col-sm">
      <p style="color: white;">CREATED TASKS</p>
      <div *ngFor="let task of createdTasks" style="width: 80%; margin-left: 10%;">
        <div class="alert alert-info" role="alert">
          {{ task.message }}
          <p class="mb-0" style="text-align: right; font-size: smaller;">{{task.datetime}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <p style="color: white;">FAILED TASKS</p>
      <div *ngFor="let task of failedTasks" style="width: 80%; margin-left: 10%;">
        <div class="alert alert-danger" role="alert">
          {{ task.message }}
          <p class="mb-0" style="text-align: right; font-size: smaller;">{{task.datetime}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <p style="color: white;">COMPLETED TASKS</p>
      <div *ngFor="let task of completedTasks" style="width: 80%; margin-left: 10%;">
        <div class="alert alert-success" role="alert">
          {{ task.message }}
          <p class="mb-0" style="text-align: right; font-size: smaller;">{{task.datetime}}</p>
        </div>
      </div>
    </div>
  </div>
</div>